<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="archagregados">
    <label class="form-check-label" for="archagregados">
        agregados
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="eliminadosarchivos" value="1" id="eliminadosarchivos">
    <label class="form-check-label" for="eliminadosarchivos">
        eliminados
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" name="ubicación" id="ubicación">
    <label class="form-check-label" for="ubicación">
        cambios de ubicación
    </label>
</div>