<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" name="aceptadas" id="aceptadas">
    <label class="form-check-label" for="aceptadas">
        aceptadas
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="2" name="rechazadas" id="rechazadas">
    <label class="form-check-label" for="rechazadas">
        rechazadas
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="0" name="ingresopersonal" id="ingreso">
    <label class="form-check-label" for="ingreso">
        ingreso de personal
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" name="edicionpersonal" id="edicion">
    <label class="form-check-label" for="edicion">
        edicion de datos
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="2" name="ingresoarchivos" id="ingresoarchivos">
    <label class="form-check-label" for="ingresoarchivos">
        ingreso de archivos
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="3" name="eliminacionarchivos"  id="eliminacionarchivos">
    <label class="form-check-label" for="eliminacionarchivos">
        eliminacion de archivos
    </label>
</div>