<div class="form-check">
    <input class="form-check-input" type="radio" value="2" name="aceptadas" id="aceptada">
    <label class="form-check-label" for="aceptada">
        aceptadas
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" value="3" name="aceptadas" id="rechazada">
    <label class="form-check-label" for="rechazada">
        rechazadas
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" value="4" name="aceptadas" id="rechazada">
    <label class="form-check-label" for="rechazada">
        anuladas
    </label>
</div>

<small class="mt-5">sino se elige una opcion se mostrara un reporte de solicitudes totales</small>