<div class="form-check">
    <input class="form-check-input" type="radio" value="0" name="solisrealizadas" id="diarios">
    <label class="form-check-label" for="diarios">
        inicios diarios
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" value="1" name="solisrealizadas" id="solisrealizadas">
    <label class="form-check-label" for="solisrealizadas">
        solicitudes realizadas
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" value="2" name="solisrealizadas" id="general">
    <label class="form-check-label" for="general">
        registro de movimientos generales
    </label>
</div>