form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
}
.fless.col-lg-5 {
    display: flex;
    flex-direction: column;
    background: #ffffffcc;
    margin: 10rem 5rem 0;
    width: 21rem;
    padding: 2rem;
    box-shadow: 0 1px 7px 0px #1e2022 !important;
    border-radius: 10px;
    margin-right: auto !important;
}
button#verify {
    margin: 4rem 1.5rem -1rem;
}
h5.text-center {
    margin: -2.5rem 0 2rem;
}