
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.068), rgba(0, 0, 0, 0.923)), url(../resources/fondo.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
}

.estructur-conten {
    margin: 2.5%;
    margin-top: 6.56rem;
}

#cena{ /*ACOMODADOR CINTILLO*/
    background: var(--bg-color-principal);
    bottom: 0;
    margin-top: 2%;
    height: 12rem;
    flex-direction: column;
    align-items: center;
}

img.mx-auto {
    height: 65px;
    width: auto;
}