#login-box{ /*DISEÑO DE MARCO DE INICIO DE SESION*/
    border: 0;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background: #ffffffd2;
    padding: 20px 50px 20px 50px; 
    box-shadow: 0px 0px 10px 10px rgba(70, 70, 70, 0.329);
}
#login-box p{ /* TITULO DEL RECUADRO DE I S*/
    color:rgba(26, 26, 26, 0.904);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#login-box .form .item input{  /*RECUADRO DE INICIO DE SESION* INPUT USUARIO Y CONTRASEÑA*/
    text-align: left;
    width: 150px;
    border: 0;
    border-bottom: 2px solid rgb(155, 155, 155);
    background: #ffffff00;
    outline: none;
    font-size: 14px;
    padding: 5px;    
    margin-top:15px;
    margin-left: -26px;
    padding-left: 35px;
}
#login-box .form .item input:focus{
    border:0;
    outline: none;
    font-style: none;
}
#login-box .form .item i{   /*LOGO DE BOOTSTRAP */ 
    color:rgb(85, 85, 85);
    font-size: 20px;
}
#login-box button { /*BOTON DE INCIO*/
    font-size: 20px; 
    color:white;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 8px;
    border-bottom: 0;
    border-style: solid;
    border:0;
    background:#74c37c;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
#login-box button:hover {
    color: #A6DEB7;
    text-decoration: none;
    background-color: rgb(172, 169, 169);
    outline: none;
}
#login-box button:focus {
    color:white;
    background-color: rgb(107, 201, 188);
    text-decoration: none;
    outline: none;
}
#login-box .parte-abajo a { /*RECUPERACION DE CONTRASEÑA*/
    text-decoration: none;
    color: rgb(126, 123, 123);
}
#login-box .parte-abajo a:hover{
    color: #A6DEB7;
}