.containerr{
    margin: 2%;
}
.containerr .listcatg ul li{
    list-style: none; /*quita los puntos de la lista*/
}
.containerr ul li a {
  text-decoration: none;
  color: #202020;
  font-size: 1px;
  font-family: sans-serif;
  cursor: pointer;
}
div.listcatg ul li :hover{
  background-color: #333333;
  color: #cac9c9;
}
.containerr .listcatg ul{
  text-align: left;
  background-color: rgba(231, 231, 231, 0.651);
  padding: 3%;
  border-radius: 10px;

}  

.grid-containerr>div {
  background-color: rgba(51, 51, 51, 0.205);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  justify-content: space-between;
}

.grid-containerr p{
  font-size: 22px;
}




