.contencroma {
    display: flex;
    justify-content: start;
    align-items: baseline;
    /* margin-top: -4.5rem; */
    justify-items: start;
}

.croma.col {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 64px;
    background-color: var(--bg-color-principal);
    font-size: medium;
    font-weight: var(--font-semibold);
    color: #e7e7e7;
    height: 40px;
    padding: 2% 1% 0% 1%;
    position: relative;
}

p.welcome {
    margin: -1.5% 1rem 0;
    font-size: 16px;
}

img.logito {
    display: block;
    position: absolute;
    right: 0;
    margin: -1.85% 1rem 0;
}

.conten-archives {
    background-color: #111112;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    padding-top: 10px;
}

p.plistcatg {
    position: absolute;
    margin-top: -1.5rem;
    transform: translateX(4rem);
    font-size: small;
}

.listcatg {
    position: relative;
    margin-left: -2%;
    margin-top: 2%;
}

.listcatg ul {
    list-style: none;
    margin-top: 2%;
    padding: 0;
    margin-bottom: 1rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 3%;
}

.listcatg ul li {
    font-size: 85%;
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: flex-start;
}

.listcatg a {
    color: var(--font-color-sidebar-base);
    text-decoration: none;
    background-color: transparent;
    text-align: -webkit-left;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link1:hover {
    background-color: var(--color-hover-archives);
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

/*DESPLEGABLES*/

.dropbtn {
    background: none;
    color: var(--font-color-sidebar-base);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    font-weight: var(--font-semibold);
    transition: all 0.20s;
}

.dropdown-content {
    overflow: auto;
    opacity: 0;
    transform: translateX(-1000px);
    position: absolute;
    z-index: 0;
    max-height: 0rem;
    min-width: 160px;
    background-color: #f2f2f2;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.2s;
}

.dropdown-content a {
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s;
    z-index: 1000;
    max-height: inherit;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-hover-archives);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
}

.dropdown-content a:hover {
    color: rgba(39, 39, 39, 0.904);
    text-decoration: none;
    background-color: var(--color-hover-archives);
    border-radius: 5px;
}

div#drdown2 {
    border-top-right-radius: 0px;
}

.plani.nav-link2 {
    background: none;
    color: var(--font-color-sidebar-base);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    font-weight: var(--font-semibold);
    transition: all 0.20s;
}

.plani.nav-link2:hover {
    background-color: var(--color-hover-archives);
    border-radius: 5px;
    color: black;
}