.croma.col-lg-12.col-ms-12{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    margin-top: 70px;
    background-color: var(--bg-color-principal);
    font-size: medium;
    font-weight: var(--font-style-semibold);
    display: flex;
    color: #e7e7e7;
    height: 110px;
    padding: 1%;
    position: relative;
}
.contencroma {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-top: -4.5rem;
    justify-items: start;
    width: 100%;
}

.croma.col-lg-12.col-ms-12 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 9.25%;
    background-color: var(--bg-color-principal);
    font-size: medium;
    font-weight: var(--font-style-semibold);
    width: 100%;
    color: #e7e7e7;
    height: 40px;
    padding: 2% 1% 0% 1%;
    position: relative;
}
    @media (max-width: 1710px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 7.9%;
        }
    }
    @media (max-width: 1680px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 8.1%; 
        }
    }
    @media (max-width: 1550px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 8.9%; 
        }
    }
    @media (max-width: 1480px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 9%;
        }
    }
    @media (max-width: 1400px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 9.91%;
        }
    }
    @media (max-width: 1350px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 10.1%;
        }
    }
    @media (max-width: 1300px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 10.9%;
        }
    }
    @media (max-width: 1240px) {
        .croma.col-lg-12.col-ms-12 {
            margin-top: 11%;
        }
    }
p.welcome {
    position: absolute;
    margin-top: -1.5%;
    margin-bottom: 1rem;
    transform: translateX(1rem);
}
.conten-archives {
    background-color: #0d1117e0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    margin-top: 0.7%;
}   
    @media (max-width: 1710px) {
        .conten-archives {
            margin-top: 0.35%;
    }
    }
    @media (max-width: 1550px) {
        .conten-archives {
            margin-top: 0.7%;
        }
    }
    @media (max-width: 1400px) {
        .conten-archives {
            margin-top: 0.9%;
        }
    }
    @media (max-width: 1350px) {
        .conten-archives {
            margin-top: 1%;
        }
    }
    @media (max-width: 1300px) {
        .conten-archives {
            margin-top: 1.2%;
        }
    }
    @media (max-width: 1240px) {
        .conten-archives {
            margin-top: 1.2%;
        }
    }
p.plistcatg{
    position: absolute;
    margin-top: -1.4rem;
    transform: translateX(3.5rem);
    font-size: small;
}
.listcatg {
    position: relative;
    margin-left: -2%;
    margin-top: 2%;
}
.listcatg ul {
    list-style: none;
    margin-top: 2%;
    padding: 0;
    margin-bottom: 1rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 3%;
}
.listcatg ul li {
    font-size: 85%;
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: flex-start;
}
.listcatg a {
    color:  var(--font-color-sidebar-base);
    text-decoration: none;
    background-color: transparent;
    text-align: -webkit-left;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-link1:hover{ 
    background-color: var(--color-hover-archives);
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

/*DESPLEGABLES*/

.dropbtn {
    background-color: #00000000;
    color: var(--font-color-sidebar-base);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 104%;
    border: none;
    font-weight: var(--font-style-semibold);
    cursor: pointer;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 160px;
    background-color: rgba(255, 255, 255, 0.836);
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.dropdown-content a{
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
}
.dropdown:hover .dropdown-content{
    display:block;
    background-color: none;
}
.dropdown:hover .dropbtn{
    background-color: var(--color-hover-archives);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
}
.dropdown-content a:hover {
    color: rgba(39, 39, 39, 0.904);
    text-decoration: none;
    background-color: var(--color-hover-archives);
    border-radius: 5px;
}

div#drdown2 {
    border-top-right-radius: 0px;
}
