.sel1 {
    display: flex;
    flex-direction: column;
}
.sel2 {
    display: flex;
    flex-direction: column;
}
.sel3 {
    display: flex;
    flex-direction: column;
}
.contenido1 {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
}
.contenido1 form {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    font-size: 20px;
}
.one.row {
    display: block;
}
.two.row {
    display: block;
}
.selects.row {
    display: flex;
    justify-items: self-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 110%;
}
.selects select {
    font-size: 18px;
    
}
select#Sede {
    font-size: 18px;
}
.lmao.row {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}