.grid-containerr>div {
  background-color: rgba(51, 51, 51, 0.205);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.estructur-conten {
  margin: 2%;
  margin-top: 1.5rem;
}
.conten {
  margin: 0 0 1rem;
  font-size: 20px;
}
.sot.col-lg-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.states {
  margin-top: 1rem;
}
.grid-containerr  .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
p.n-inf {
  text-align: start;
  font-size: 15px;
  margin: 0px;
  font-weight: 600;
  color: #4e4c4c;
}
input#estadosSearch {
  border: none;
  border-radius: 3px;
  width: auto;
  margin: 1rem 0;
}
table#example {
  font-size: 16px;
}