.container {
  text-align: center;
  margin-top: 7%;
}

.container {
  text-align: -webkit-center;
  background-color: rgba(228, 140, 193, 0.322);
  color: antiquewhite;
}

input {
  border: none !important;
}

label {
  height: 2rem;
  margin: 0.5rem 0 0 1rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px 0 0 5px;
  color: #333;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
}

label.active {
  background-color: #007bff;
  color: #fff;
}

option {
  color: #000;
}

button#log {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 20px;
  margin: 15px 0 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

button#log:hover {
  background-color: #bdbdbd;
}

button#log:active {
  background-color: #a3a3a3;
}