img.mx-auto {
    height: 75px;
    width: auto;
}

.sadin{
    margin: 0rem 0 0 0;
}
.sadin img{ /* IMAGEN LOGO*/
    max-width: 170px;
    display: block;
    margin: 1rem auto -4rem;
}

img.insai {
    right: 0 !important;
    position: absolute;
    width: 75px;
    margin: -30.5rem 1.5rem 0rem 0rem;
}

.col-lg-12 {
    padding: 2rem 2rem 1rem;
}