#cena { /*ACOMODADOR CINTILLO*/
    display: flex;
    position: absolute;
    border-color: none;
    background: none;
    height: 60px;
    left: -4rem;
    top: 0;
    margin-top: 1%;
    /* width: 100%; */
    flex-direction: row;
    justify-content: flex-end;
}

