.navbarconten {
    /*contenedor de la barra de navegacion*/
    top: 0px !important;
    width: 100% !important;
    height: 65px !important;
    background: var(--narvar-bg-color) !important;
    box-sizing: content-box !important;
    position: fixed !important;
    box-shadow: 0 1px 5px 0 #1e2022 !important;
    z-index: 999;
}

.nav {
    /*menu superior*/
    display: flex;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    padding-left: 0;
    margin-bottom: 0 !important;
    margin-top: 4px !important;
    list-style: none;
    justify-content: space-between;
    align-content: center !important;
    flex-direction: row !important;
    align-items: baseline !important;
}

a.navbar-brand {
    /*logo sadinsai*/
    margin-left: 1.5rem !important;
}

.navbar-brand img {
    /*logo*/
    margin: -2rem 0 0 1rem;
}

.navbar-nav {
    /*lista de navegacion*/
    margin-left: -15% !important;
}

@media (max-width: 1400px) and (orientation: landscape) {
    .navbar-nav {
        /*lista de navegacion*/
        margin-left: -6% !important;
    }
}

@media (max-width: 1300px) and (orientation: landscape) {
    .navbar-nav {
        /*lista de navegacion*/
        margin-left: -2% !important;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .navbar-nav {
        /*lista de navegacion*/
        margin-left: 0% !important;
    }
}

@media (max-width: 1100px) and (orientation: landscape) {
    .navbar-nav {
        /*lista de navegacion*/
        margin-left: -5% !important;
    }
}

ul.nav.nav-list.nav-pills.navbar-right {
    /*lista*/
    margin: 0 !important;
}

.nav-item {
    /*elementos de navegacion*/
    margin-right: 3px !important;
    margin-left: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
    /*listado*/
    color: #00000085;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: var(--font-semibold);
    transition: all 0.20s;
}

.nav-link:hover {
    /*estilo de la barra*/
    color: #2e2e2eda;
    background-color: var(--color-hoverbuttom);

}

.searchito {
    margin-right: 0.5rem !important;
    display: flex !important;
    align-items: baseline !important;
}

.searchito button {
    /*botones de toda la barra*/
    border: none;
    color: #312e2e;

}

.searchito #searchbar {
    /*buscador*/
    border: none;
    background-color: rgb(209, 209, 209);
    color: #312e2e;
    padding: 0 2.4rem 0 1rem;
    height: 38px;
    width: 100%;
}

.searchito #search {
    margin: 0.45rem 0 0 -2.2rem;
    font-size: 17px;
}

.searchito #help {
    /*Boton ayuda*/
    background-color: rgb(209, 209, 209);
}

.searchito #help:hover {
    /*Boton ayuda*/
    background-color: rgb(113, 218, 209);
}

.searchito #close {
    /*boton de salida*/
    background-color: rgb(209, 209, 209);
    border: none;
    color: #312e2e;
    width: 8rem;
}

.searchito #close:hover {
    /*cambio d color del boton de salida*/
    background-color: #f5c6cb;
    color: red;
    border-radius: 10px;
}

button.btn.btn-outline-success {
    /*barra de busqueda*/
    margin-left: -40px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

}

.searchito span {
    /*separadores*/
    background-color: rgba(0, 0, 0, 0);
    border-color: none;
    border: none;
}

.searchito button i {
    /*logo boton*/
    font-family: sans-serif !important;
    font-style: normal !important;
    font-size: 17px !important;
}

.searchito a i {
    /*sepadores*/
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
}

.searchito a {
    /*margen*/
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #007bff00;
    background-color: transparent;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #2e2e2eda;
    text-decoration: underline;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 1.55rem !important;
    text-decoration-color: #2e2e2eda;
}

a.nav-link.active:hover {
    background-color: var(--color-hoverbuttom);
    color: #2e2e2eda;
    transition: all 0.2s;
}

#result {
    display: flex;
    position: absolute;
    border-top: solid 1px #ffffff61;
    color: black;
    margin: 34px 0px 0px 0px;
    background: #d1d1d1;
    width: 15.67rem;
    padding: 0.6rem 1rem 1rem;
    z-index: 10000000;
    border-radius: 0px 0px 6px 6px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

#resultList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: start;
}

.searched {
    text-decoration: none;
    font-size: 12px !important;
    color: black;
    padding: 10px 15px;
    margin: .2rem 0 .5rem;
    border-radius: 3px;
}

.searched:hover {
    color: rgb(184, 245, 179);
    background: #595959;
    border-radius: 7px;
}

a.dropdown-item {
    transition: all 0.20s;
}

#adminSetMsj {
    background: #6c6c6c;
    color: white;
    position: absolute;
    margin: 1.3rem 0rem 0 -6.82rem;
    height: 1.5rem;
    opacity: 0.85;
    font-size: 10px;
}

#sysAdminSetMsj {
    background: #ff6384;
    color: white;
    position: absolute;
    margin: 1.3rem 0rem 0 -5.5rem;
    height: 1.5rem;
    opacity: 0.85;
    font-size: 10px;
    padding: 2px 4px;
}

#analistSetMsj {
    background: #6c6c6c;
    color: white;
    position: absolute;
    margin: 1.3rem 0rem 0 -4.95rem;
    height: 1.5rem;
    opacity: 0.85;
    font-size: 10px;
    padding: 2px 4px;
}