* {/*cuerpo entero*/
    margin: 0;
    padding: 0;
}

.navbarconten { /*contenedor de la barra de navegacion*/
    top: 0px;
    width: 100%;
    height: 65px;
    background: var(--narvar-bg-color);
    box-sizing: content-box;
    position: fixed;
    z-index: 999;
}
.nav {   /*menu superior*/
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 4px;
    list-style: none;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: baseline;
}
a.navbar-brand{ /*logo sadinsai*/
    margin-left: 1.5rem;
}
.navbar-brand img{/*logo*/
    margin-top: -2px;
}
.navbar-nav{/*lista de navegacion*/
    margin-left: -15%;
}
    @media (max-width: 1400px) and (orientation: landscape){
        .navbar-nav{/*lista de navegacion*/
            margin-left: -10%;        
        }      
    }
    @media (max-width: 1300px) and (orientation: landscape){
        .navbar-nav{/*lista de navegacion*/
            margin-left: -2%;;        
        }      
    }
    @media (max-width: 1200px) and (orientation: landscape){
        .navbar-nav{/*lista de navegacion*/
            margin-left: -5%;        
        }      
    }
ul.nav.nav-list.nav-pills.navbar-right {/*lista*/
    margin: 0;
}
.nav-item{/*elementos de navegacion*/
    margin-right: 3px;
    margin-left: 0;
}

.navbar-light .navbar-nav .nav-link {/*listado*/
    color: #00000085;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: var(--font-style-semibold);
}
.nav-link:hover {/*estilo de la barra*/
    color: #2e2e2eda;
    background-color: var(--color-hoverbuttom);

}
.form-inline {
    margin-right: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.form-inline button{/*botones de toda la barra*/
    border: none;
    color: #312e2e;

}
.form-inline button:hover{/*botones color*/
    background-color: var(--color-hoverbuttom);
    color: #2e2e2eda;
}
.form-inline #searchbar{/*buscador*/
    border: none;
    background-color: rgb(209, 209, 209);
    color: #312e2e;
    border-radius: 10px;
    height: 38px;
    width: 100%;
}
.form-inline #search {
    padding-bottom: 5px;
    height: 2.35rem;
}

.form-inline #help{/*Boton ayuda*/
    background-color: rgb(209, 209, 209);
}
.form-inline #help:hover{/*Boton ayuda*/
    background-color: rgb(113, 218, 209);
}
.form-inline #close{/*boton de salida*/
    background-color: rgb(209, 209, 209);
    border: none;
    color: #312e2e;
    width: 8rem;
}
.form-inline #close:hover{/*cambio d color del boton de salida*/
    background-color:#f5c6cb;
    color: red;
    border-radius: 10px;
}
button.btn.btn-outline-success {/*barra de busqueda*/
    margin-left: -40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.form-inline span {/*separadores*/
    background-color: rgba(0, 0, 0, 0);
    border-color: none;
    border:none;
}
.form-inline button i{/*logo boton*/
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
}
.form-inline a i{/*sepadores*/
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
}
.form-inline a{/*margen*/
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #007bff00;
    background-color: transparent;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #2e2e2eda;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.45rem;
    text-decoration-color: #2e2e2eda;
}
a.nav-link.active:hover{
    background-color: var(--color-hoverbuttom);
    color: #2e2e2eda;
}
