div.perfil{
    background-color: rgb(196, 255, 226);
    border-radius: 10px;
    border: none;
    padding: 10px 20px 10px 10px;
    Width: 90%; 
    height: 100%;
    text-align: center;
    margin: auto;
}

.col-lg a {
    margin: -1.5rem 4rem;
    position: absolute;
}

.labperfil {
    margin: 1rem;
    position: relative;
    display: block;
    font-size: large;
    font-weight: var(--font-semibold);
    margin-top: -1rem;
}

div.perfil p{
    font-size: smaller;
    font-weight: 400;
}

.plist1.row {
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 10rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
}
.plist2.row {
    width: 12rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-left: -3%;
}

i.bi.bi-person-square {
    position: absolute;
    margin-left: 2%;
    font-size: 500%;
}
