form.regisform{
    display: block;
    margin: auto;
    text-align: center;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.bg-danger {
    background-color: #df5967!important;
}

.estructur-conten{
    margin: 2%;
    margin-top: 1rem;
}

.contenido {
    padding: 1rem 0;
}

div#mensajeCi {
    margin: 1rem;
    color: #fafafa;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fijo a {
    width: 13.75rem;
    height: 3rem;
}

.fijo a.btn {
    display: flex;
    margin: 0 auto 1rem;
    align-items: center;
    justify-content: center;
}

.contenSwitch {
    width: 100%;
    margin: auto;
    border: 1px solid #fafafa;
    border-radius: 7px;
    height: 5rem;
    padding: 1rem;
}
.form-switch {
    margin: -.1rem 0 0 0;
    padding-left: 2.5em;
}
label.form-check-label {
    margin: -0.7rem 0rem 0rem 1rem;
    font-size: small;
}
input#flexSwitch {
    margin: -2.7rem 0px 0 -2.4rem;
    height: 1.5rem;
    width: 2.5rem;
}