form.regisform{
    display: block;
    margin: auto;
    text-align: center;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.bg-danger {
    background-color: #df5967!important;
}

.estructur-conten{
    margin: 2%;
    margin-top: 1rem;
}

legend {
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    position: relative;
    max-width: 100%;
    line-height: inherit;
    white-space: normal;
    margin-left: 0rem;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

form.regisform input {
    position: relative;
    margin-top: -5px;
    background-color: none;
    border: 1px rgb(34, 34, 34);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}
form.regisform p{
    margin-left: 6%;
    text-align: left;
    margin-top: -5px;
    margin-bottom: -30%;
    margin-right: 110px;
}

button#log {
    margin: -1rem 0rem 1rem 0rem;
}

a.btn.btn-warning{
    margin: 1rem 0;
}
a.btn.btn-warning:hover {
    background: #ffd24c;
}
form.regisform button{
    display: block;
    margin: 1rem auto;
    margin-top: 10px;
    text-align: center;
}
div.alert{
    background-color: #f8d7da;
    text-align: center;
    margin: auto;
    position: relative;
    width: 180px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0.2rem;
    padding-bottom: 10px;
    padding-right: 0.2rem;
}

.checkform{
    display: inline-flex;
    position: relative;
    width: 60px;
    height: 25px;
    background-color: none;
    border: 1px solid var(--color-green);
    border-radius: 15px;
    margin-left: 95px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.checkform input[type=checkbox]{
    visibility: hidden;
}
.checkadmin.alert.alert-danger {
    font-size: 15px;
    display: block;
    height: 78px;
    color: black;
    font-weight: 600;
    background: snow;
    border-color: snow;
    width: 195px;
}
.checkform label{
    display: block;
    width: 24px;
    height: 15px;
    border-radius: 17px;
    background: var(--color-green);
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 5px;
    z-index: 1;
    overflow: hidden;
    text-indent: 35px;
}
.checkform input[type=checkbox]:checked + label{
    left: auto;
    transform: translateX(30px);
    transition: 0.5s ease;
    background-color: var(--color-green);
}

.checkform::before{
    content: 'SI';
    font: 12px/30px arial;
    color: darkturquoise;
    position: absolute;
    left: 8px;
    margin-top: -3px;
    z-index: 0;
    font-weight: bold;  
}
.checkform::after{
    content: 'NO';
    font: 12px/30px arial;
    color: rgb(98 98 98);
    position: absolute;
    right: 8px;
    margin-top: -3px;
    z-index: 0;
    font-weight: bold;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.contenido {
    padding: 1rem 0;
}
div#mensajeCi {
    margin: 1rem;
}